body{
    margin: 0;
    /* background-color: red; */
    font-family: 'Poppins', sans-serif;
}

nav{
    background-color: rgb(240, 240, 240);
    display: flex;
    height: 8vh;
}

nav .nav-left img{
    width: 52px;
}

nav .nav-left{
    display: flex;
    padding-left: 60px;
    flex: 50%;
    align-items: center;
}

nav .nav-left li{
    display: inline;
}

nav .nav-left ul{
    display: flex;
    align-items: center;
}

nav .nav-left img{
    margin-right: 50px;
}

nav .nav-left ul li a{
    color: black;
    text-decoration: none;
    padding: 12px;
}

nav .nav-right{
    display: flex;
    flex: 50%;
    justify-content: flex-end;
    align-items: center;  
    padding-right: 100px; 
}

nav .nav-right a{
    background-color: black  ;
    color: white;
    text-decoration: none;
    padding:8px 20px;
    border-radius: 12px;
}


nav .nav-left ul li a:hover{
    font-weight: 500;
}

nav .nav-right a:hover{
    background-color: orangered ;
    color: white;
    text-decoration: none;
    padding:8px 20px;
    border-radius: 12px;
}

.container{
    background-color: rgb(190, 190, 190);
    display: flex;
    height: 92vh;
    padding: 50px 100px;
   
} 

.section{
    background-color: white;
    display: flex;
    width: 100%;
    box-shadow: 6px 6px 10px rgb(156, 156, 156);
    border-radius: 12px;
    align-items: center;
}

.left{
    /* background-color: rgb(201, 201, 201); */
    flex: 50%;
    padding:0 0 0 50px;
}

.left p{
    text-align: justify;
    margin-bottom: 40px;
}

.button{
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    margin-bottom: 50px;
}

.button a{
    color: black;
    text-decoration: none;
    padding-right: 12px;
}

.button .contact{
    padding: 8px 24px;
    background-color: black;
    color: white;
    margin-right: 24px;
    border-radius: 32px;
}

.button .contact:hover{
    background-color: orangered;
}

.button .download:hover{
    font-weight: 600; 
}

.button img{
    width: 24px;
}

.media{   
    margin-top: 20px;
}

.media img{
    width: 40px;
    margin-right: 24px;
    margin-top: 12px;
}

.media img:hover{
    width: 46px;
    margin-top: 0px;
}

.right{
    /* background-color: rgb(179, 53, 53); */
    flex: 50%;   
    /* padding-left: 24px; */
}

.card{
    border: 1px; 
    width: 400px; 
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 6px 6px 10px rgb(185, 185, 185);
}

.card img{
    border-radius: 12px 12px 0 0;
}

.card h2,p{
    text-align: center;
    margin: 0;
}

.card p{
    padding-bottom: 24px;
    font-weight: 400;
    color: gray;
}









