body{
    /* background-color: red; */
   margin: 0;
   font-family: 'Poppins', sans-serif;
}

.container-form{
   /* background-color: purple; */
   display: flex;
   height: 92vh;
   justify-content: center;
   align-items: center;
}

h2{
   text-align: center;
   /* margin-top: 12px; */
}

form{
   /* background-color: aqua; */
   padding: 12px;
}

form div{
   margin-top: 10px;
}

form label{
   font-weight: bold;
   font-size: 16px;
   text-align: center;
}

form input, select, textarea{
   background-color: rgb(243, 243, 243);
   padding: 10px;
   width: 100%;
   margin-top: 8px;
   border-radius: 12px;
   border: 1px solid rgb(231, 231, 231);
   box-sizing: border-box;
   resize: none;
}

textarea{
   height: 100px;
}

form .submit{
   display: flex;
   justify-content: end;
}
form button{
   background-color: black;
   color: white;
   margin-top: 12px;
   padding: 4px 32px;
   border: none;
   border-radius: 12px;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
   display: flex;
}

form button:hover{
   background-color: orangered;
}