.container-form{
    /* background-color: purple; */
    display: flex;
    height: 92vh;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    /* margin-top: 12px; */
}

form{
    /* background-color: aqua; */
    /* padding: 20px; */
    margin-top: 0;
    
}

form div{
    margin-top: 10px;
    
}

form label{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

form input{
    background-color: rgb(243, 243, 243);
    padding: 10px;
    width: 95%;
    margin-top: 8px;
    border-radius: 12px;
    border: 1px solid rgb(231, 231, 231);
}

form select{
    background-color: rgb(243, 243, 243);
    padding: 10px;
    width: 95%;
    margin-top: 8px;
    border-radius: 12px;
    border: 1px solid rgb(231, 231, 231);
    box-sizing: inherit;
}

form textarea{
    background-color: rgb(243, 243, 243);
    padding: 10px;
    width: 95%;
    margin-top: 8px;
    border-radius: 12px;
    border: 1px solid rgb(231, 231, 231);
    resize: none;
    height: 60px;
}

form button{
    background-color: black;
    color: white;
    margin-top: 12px;
    padding: 4px 32px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    float: right;
    box-sizing: inherit;
}

form button:hover{
    background-color: orangered;
}